{% extends 'blog/base.html' %}
{% block content %}  
<br>

  <div class="card-deck">
    <div class="card">
      <img src="..\media\im3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Share</h5>
        <p class="card-text">Share what's happening in your department , What's are the timings who is organising and much more on the track , get opinions on the show.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="..\media\im1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Know</h5>
        <p class="card-text">Know what's happening in your department , What's are the timings who is organising and much more on the track , get updated about the show.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="..\media\im2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Be the Boss</h5>
        <p class="card-text">This is a changing world know youself , your department and much more what's happening be your own boss.</p>
        
      </div>
    </div>
  </div>
  <br><br>
  <div class="card text-white bg-dark mb-3" style="max-width: 108rem;">
    <div class="card-header">All rights reserved @2020</div>
    <div class="card-body">
      <h5 class="card-title">Ignitia</h5>
      <p class="card-text">To know more contact cs branch third year , Section c or M-block auditorium.</p>
    </div>
  </div>

{% endblock %}