{% extends 'blog/base.html' %}
{% block content %}   
 
  <br>
    <div class="card w-75">
      <img src="{{post.post_img.url}}" class="card-img-top" alt="...">
       
        <div class="card-body">
          <h2 class="card-title">{{object.title}}</h2> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{object.content}}</li>
        </ul>

        
        <div class="card-body">
        
          <button type="submit" name="support_it" value="{{post.id}}" class="btn btn-primary">Support</button>
          <button type="submit" name="support_it" value="{{post.id}}" class="btn btn-secondary">Undermine</button>
        
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'user-posts' post.author.username %}"><h3 style="color: darkgoldenrod;">{{post.author}}</h3></a><br>
        <p class="card-text">{{post.author.bio}} </p></li>
        <li class="list-group-item">{{post.date_posted}}</li>
      </ul>
    
    </div><br><br>
     
          {% if object.author == user %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'Post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'Post-delete' object.id %}">Delete</a>
          {% endif %}
        </div>
      
      </div><br><br>
    

{% endblock %}
