{% extends 'blog/base.html' %}
{% block content %}
<br><br>
<!-- user profile -->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{user.profile.image.url}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{user.username}} </h5>
        <p class="card-text">{{user.profile.bio}}</p>
        <p class="card-text"><small class="text-muted">{{user.email}}</small></p>
      </div>
    </div>
  </div>
</div>
<!-- user posts -->
<br>
<h1 class="mb-3" style="text-align: center;">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>  
 
    {% for post in posts %}
    <div class="card w-75">
      <img src="{{post.post_img.url}}" class="card-img-top" alt="...">
       
        <div class="card-body">
          <h3 class="card-title"><a href='{% url 'PostDetail' post.id %}' >{{post.title}} </a></h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{post.content}}</li>
        </ul>

        
        <div class="card-body">
        
          <button type="submit" name="support_it" value="{{post.id}}" class="btn btn-primary">Support</button>
          <button type="submit" name="support_it" value="{{post.id}}" class="btn btn-secondary">Undermine</button>
        
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'user-posts' post.author.username %}"><h3 style="color: darkgoldenrod;">{{post.author}}</h3></a>
        <br><p class="card-text">Some quick example text to build on the </p></li>
        <li class="list-group-item">{{post.date_posted}}</li>
      </ul>
    
    </div><br><br>
    
    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>

    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}

    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_page }}">Last</a>

    {% endif %} 
   {% endif %} 
{% endblock %}
